<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- Object will be created as many times you mention the 
the bean, it will not just create one!! -->
<!-- <bean id="alien" class="com.dj.Alien" scope="prototype"> </bean> -->


<!-- when you say autowire then it will sewarc fo the the bean with the 
same name as property in the beans and AUTO WIRES!!-->
<!-- <bean id="alien" class="com.dj.Alien" autowire="byName"> -->
<!-- Another autowiring ByType -->
<bean id="alien" class="com.dj.Alien" autowire="byType">
    <property name="age" value="21"></property>
    <!-- this property is being used even though autowire is there -->
    <property name="com" ref="com1"/>
    <!-- <constructor-arg value = "21"/>  -->

    <!-- args for two parameterized constructor 
    the sequence matters here. if you don't mention the type
    -->
    <!-- <constructor-arg type= "com.dj.Laptop" ref="lap1"/>
    <constructor-arg type= "int" value="21"/> -->

    <!-- index matters works  this is better
    <constructor-arg index="1" ref="lap1"/>
    <constructor-arg index="0" value="21"/> -->

    <!-- Here the sequence matters -->
    <!-- To this to work witout sequence you need to use
    constructor properties annotation on the constructor -->
    <!-- <constructor-arg name= "lap" ref="lap1"/>
    <constructor-arg name= "age" value="21"/> -->

<!-- Ref Attribute setter injection refring the laptop object here-->
</bean>
<!-- Using by type will cause error if multiple beans are of same type , to 
resolve this error. we need to have a primary field. so that it will go with primary 
bean no error-->
<bean id="com1" class="com.dj.Laptop" primary="true"> </bean>
<bean id="com" class="com.dj.Desktop"> </bean>

</beans>